
<div role="main" class="main">
  <div class="slider-container rev_slider_wrapper" style="height: 530px;">
    <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 530, 'responsiveLevels': [4096,1200,992,500], 'navigation' : {'arrows': { 'enable': false }, 'bullets': {'enable': false, 'style': 'bullets-style-1 bullets-color-primary', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
      <ul>
        <li data-transition="fade">
          <img src="../../assets/img/slides/slide-bg-light.jpg"
               alt=""
               data-bgposition="center center"
               data-bgfit="cover"
               data-bgrepeat="no-repeat"
               class="rev-slidebg">

          <div class="tp-caption tp-resizeme d-none d-sm-block"
               data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;x:100%;","to":"o:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
               data-type="image"
               data-x="right" data-hoffset="['0','0','-200','-200']"
               data-y="top"
               data-width="['auto']"
               data-height="['auto']"
               data-basealign="slide"><img src="../../assets/img/slides/slide-corporate-8-1-2.jpg" alt=""></div>

          <div class="tp-caption tp-resizeme d-none d-sm-block"
               data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;x:-100%;","to":"o:1;x:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
               data-type="image"
               data-x="left" data-hoffset="['0','0','-200','-200']"
               data-y="center"
               data-width="['auto']"
               data-height="['auto']"
               data-basealign="slide"><img src="../../assets/img/slides/slide-corporate-8-1-1.jpg" alt=""></div>

          <div class="tp-caption"
               data-x="center" data-hoffset="['-130','-130','-130','-205']"
               data-y="center" data-voffset="['-100','-100','-100','-125']"
               data-start="1000"
               data-transform_in="x:[-300%];opacity:0;s:500;"
               data-transform_idle="opacity:0.8;s:500;"><img src="../../assets/img/slides/slide-title-border-light.png" alt=""></div>

          <div class="tp-caption text-color-dark font-weight-semibold"
               data-x="center"
               data-y="center" data-voffset="['-100','-100','-100','-125']"
               data-start="700"
               data-fontsize="['22','22','22','40']"
               data-lineheight="['25','25','25','45']"
               data-transform_in="y:[-50%];opacity:0;s:500;">PORTO TEMPLATE</div>

          <div class="tp-caption"
               data-x="center" data-hoffset="['130','130','130','205']"
               data-y="center" data-voffset="['-100','-100','-100','-125']"
               data-start="1000"
               data-transform_in="x:[300%];opacity:0;s:500;"
               data-transform_idle="opacity:0.8;s:500;"><img src="../../assets/img/slides/slide-title-border-light.png" alt=""></div>

          <h1 class="tp-caption font-weight-extra-bold text-color-dark negative-ls-2"
              data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
              data-x="center"
              data-y="center" data-voffset="['-50','-50','-50','-40']"
              data-fontsize="['50','50','50','90']"
              data-lineheight="['55','55','55','95']">INCREDIBLE DESIGNS</h1>

          <div class="tp-caption font-weight-light text-color-dark"
               data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2000,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
               data-x="center"
               data-y="center" data-voffset="['0','0','0','40']"
               data-fontsize="['18','18','18','35']"
               data-lineheight="['20','20','20','40']"
               style="color: #b5b5b5;">Porto is a Huge success in the of one of the world's largest MarketPlace.</div>

          <a class="tp-caption btn btn-primary font-weight-bold"
             href="#"
             data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
             data-x="center" data-hoffset="0"
             data-y="center" data-voffset="['70','70','70','135']"
             data-paddingtop="['15','15','15','30']"
             data-paddingbottom="['15','15','15','30']"
             data-paddingleft="['40','40','40','57']"
             data-paddingright="['40','40','40','57']"
             data-fontsize="['13','13','13','25']"
             data-lineheight="['20','20','20','25']">GET STARTED NOW <i class="fas fa-arrow-right ml-1"></i></a>

        </li>
      </ul>
    </div>
  </div>
  <div class="home-intro home-intro-quaternary" id="home-intro">
    <div class="container">

      <div class="row text-center">
        <div class="col">
          <p class="mb-0">
            The fastest way to grow your business with the leader in <span class="highlighted-word highlighted-word-animation-1 highlighted-word-animation-1-light text-color-light font-weight-semibold text-5">Technology</span>
            <span>Check out our options and features included.</span>
          </p>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-lg-7 pr-5 appear-animation" data-appear-animation="fadeInRightShorter">
        <h2 class="font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold">4 </strong>IR</h2>
        <p class="lead pr-2 mb-4">Artificial intelligence provides the most useful inventions. We build safe AI systems that learn how to solve problems and advance scientific discovery for all.</p>
        <p class="mb-4">Transform into an AI-driven enterprise, implementing machine learning models that solve complex business problems and drive real ROI.</p>
        <a class="btn btn-light text-uppercase text-primary text-1 py-2 px-4 mb-1" href="#"><strong>VIEW MORE</strong><i class="fas fa-chevron-right text-2 pl-2"></i></a>
      </div>
      <div class="col-lg-5">
        <div class="row mt-5 mt-lg-0">
          <div class="col-md-8 col-lg-6 text-center text-lg-left mx-auto">
            <img class="../../assets/img-fluid m-3 my-0 mt-lg-5 pt-lg-5 appear-animation" src="../../assets/img/office/our-office-4.jpg" alt="Office" data-appear-animation="expandIn" data-appear-animation-delay="200">
          </div>
          <div class="col-md-8 col-lg-6 pl-lg-0 text-center text-lg-left mx-auto">
            <img class="../../assets/img-fluid m-3 my-0 appear-animation" src="../../assets/img/office/our-office-5.jpg" alt="Office" data-appear-animation="expandIn" data-appear-animation-delay="400">
            <img class="../../assets/img-fluid m-3 my-0 appear-animation" src="../../assets/img/office/our-office-7.jpg" alt="Office" data-appear-animation="expandIn" data-appear-animation-delay="200">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <section class="section bg-color-grey-scale-1 section-height-3 section-no-border appear-animation" data-appear-animation="fadeIn">
    <div class="container">
      <div class="row">
        <div class="col text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
          <h2 class="font-weight-normal text-6 mb-5">Our <strong class="font-weight-extra-bold">Services</strong></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
          <div class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
              <i class="icon-user-following icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="mb-2 font-weight-bold">Customer Support</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
          <div class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
              <i class="icon-layers icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="mb-2 font-weight-bold">Sliders</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
          <div class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
              <i class="icon-calculator icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="mb-2 font-weight-bold">HTML5</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-lg-3">
        <div class="col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400">
          <div class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
              <i class="icon-star icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="mb-2 font-weight-bold">Icons</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
          <div class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
              <i class="icon-drop icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="mb-2 font-weight-bold">Colors</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
          <div class="feature-box feature-box-secondary feature-box-style-4">
            <div class="feature-box-icon">
              <i class="icon-mouse icons text-color-primary"></i>
            </div>
            <div class="feature-box-info">
              <h4 class="mb-2 font-weight-bold">Buttons</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit. Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row pt-4 mt-5">
      <div class="col-lg-12 text-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="400">
        <h2 class="font-weight-normal text-6 mb-5">Our <strong class="font-weight-extra-bold">Prices</strong></h2>
      </div>
    </div>

    <div class="pricing-table pricing-table-no-gap mt-3 mb-5 pb-5">
      <div class="col-md-6 col-lg-3">
        <div class="plan">
          <div class="plan-header">
            <h3>Enterprise</h3>
          </div>
          <div class="plan-price">
            <span class="price"><span class="price-unit">$</span>59</span>
            <label class="price-label">PER MONTH</label>
          </div>
          <div class="plan-features">
            <ul>
              <li>10GB Disk Space</li>
              <li>100GB Monthly Bandwith</li>
              <li>20 Email Accounts</li>
              <li>Unlimited Subdomains</li>
            </ul>
          </div>
          <div class="plan-footer">
            <a href="#" class="btn btn-dark btn-modern btn-outline rounded-0 py-2 px-4">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="plan">
          <div class="plan-header">
            <h3>Professional</h3>
          </div>
          <div class="plan-price">
            <span class="price"><span class="price-unit">$</span>29</span>
            <label class="price-label">PER MONTH</label>
          </div>
          <div class="plan-features">
            <ul>
              <li>5GB Disk Space</li>
              <li>50GB Monthly Bandwith</li>
              <li>10 Email Accounts</li>
              <li>Unlimited Subdomains</li>
            </ul>
          </div>
          <div class="plan-footer">
            <a href="#" class="btn btn-dark btn-modern btn-outline rounded-0 py-2 px-4">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="plan plan-featured">
          <div class="plan-header bg-primary">
            <h3>Standard</h3>
          </div>
          <div class="plan-price">
            <span class="price"><span class="price-unit">$</span>17</span>
            <label class="price-label">PER MONTH</label>
          </div>
          <div class="plan-features">
            <ul>
              <li>3GB Disk Space</li>
              <li>25GB Monthly Bandwith</li>
              <li>5 Email Accounts</li>
              <li>Unlimited Subdomains</li>
            </ul>
          </div>
          <div class="plan-footer">
            <a href="#" class="btn btn-primary btn-modern rounded-0 py-2 px-4">Choose Plan</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="plan">
          <div class="plan-header">
            <h3>Basic</h3>
          </div>
          <div class="plan-price">
            <span class="price"><span class="price-unit">$</span>9</span>
            <label class="price-label">PER MONTH</label>
          </div>
          <div class="plan-features">
            <ul>
              <li>1GB Disk Space</li>
              <li>10GB Monthly Bandwith</li>
              <li>2 Email Accounts</li>
              <li>Unlimited Subdomains</li>
            </ul>
          </div>
          <div class="plan-footer">
            <a href="#" class="btn btn-dark btn-modern btn-outline rounded-0 py-2 px-4">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <section class="section bg-color-grey-scale-1 section-height-3 section-no-border section-center my-5 appear-animation" data-appear-animation="fadeIn">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
          <div class="owl-carousel owl-theme nav-bottom rounded-nav mb-0" data-plugin-options="{'items': 1, 'loop': false, 'autoHeight': true}">
            <div>
              <div class="col">
                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                  <div class="testimonial-author">
                    <img src="../../assets/img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                  </div>
                  <blockquote>
                    <p class="text-color-dark mb-0">Your time is limited, so don’t waste it living someone else’s life. Don’t be trapped by dogma - which is living with the results of other people’s thinking. Don’t let the noise of others’ opinions drown out your own inner voice.</p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p><strong class="opacity-9 font-weight-extra-bold text-2">-John Doe. Okler</strong></p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="col">
                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                  <div class="testimonial-author">
                    <img src="../../assets/img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                  </div>
                  <blockquote>
                    <p class="text-color-dark mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non consectetur sed, pharetra nec ex.</p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p><strong class="opacity-9 font-weight-extra-bold text-2">-John Smith. Okler</strong></p>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="col">
                <div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark mb-0">
                  <div class="testimonial-author">
                    <img src="../../assets/img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                  </div>
                  <blockquote>
                    <p class="text-color-dark mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </blockquote>
                  <div class="testimonial-author">
                    <p><strong class="opacity-9 font-weight-extra-bold text-2">-John Smith. Okler</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-12 text-center appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
        <h2 class="font-weight-normal text-6 mt-3 mb-5">Latest <strong class="font-weight-extra-bold">Posts</strong></h2>
      </div>
    </div>
    <div class="row recent-posts pb-4 mb-5 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <article>
          <div class="row">
            <div class="col-auto pr-0">
              <div class="date">
                <span class="day text-color-dark font-weight-extra-bold">15</span>
                <span class="month bg-color-primary font-weight-semibold text-color-light text-1">JAN</span>
              </div>
            </div>
            <div class="col pl-1">
              <h4 class="line-height-3 text-4"><a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a></h4>
              <p class="line-height-5 pr-3 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta.</p>
              <a class="btn btn-light text-uppercase text-primary text-1 py-2 px-3 mb-1 mt-2" href="#"><strong>VIEW MORE</strong><i class="fas fa-chevron-right text-2 pl-2"></i></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
        <article>
          <div class="row">
            <div class="col-auto pr-0">
              <div class="date">
                <span class="day text-color-dark font-weight-extra-bold">14</span>
                <span class="month bg-color-primary font-weight-semibold text-color-light text-1">JAN</span>
              </div>
            </div>
            <div class="col pl-1">
              <h4 class="line-height-3 text-4"><a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a></h4>
              <p class="line-height-5 pr-3 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta.</p>
              <a class="btn btn-light text-uppercase text-primary text-1 py-2 px-3 mb-1 mt-2" href="#"><strong>VIEW MORE</strong><i class="fas fa-chevron-right text-2 pl-2"></i></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <article>
          <div class="row">
            <div class="col-auto pr-0">
              <div class="date">
                <span class="day text-color-dark font-weight-extra-bold">13</span>
                <span class="month bg-color-primary font-weight-semibold text-color-light text-1">JAN</span>
              </div>
            </div>
            <div class="col pl-1">
              <h4 class="line-height-3 text-4"><a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a></h4>
              <p class="line-height-5 pr-3 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta.</p>
              <a class="btn btn-light text-uppercase text-primary text-1 py-2 px-3 mb-1 mt-2" href="#"><strong>VIEW MORE</strong><i class="fas fa-chevron-right text-2 pl-2"></i></a>
            </div>
          </div>
        </article>
      </div>
      <div class="col-md-6 col-lg-3">
        <article>
          <div class="row">
            <div class="col-auto pr-0">
              <div class="date">
                <span class="day text-color-dark font-weight-extra-bold">12</span>
                <span class="month bg-color-primary font-weight-semibold text-color-light text-1">JAN</span>
              </div>
            </div>
            <div class="col pl-1">
              <h4 class="line-height-3 text-4"><a href="blog-post.html" class="text-dark">Lorem ipsum dolor sit amet, consectetur</a></h4>
              <p class="line-height-5 pr-3 mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta.</p>
              <a class="btn btn-light text-uppercase text-primary text-1 py-2 px-3 mb-1 mt-2" href="#"><strong>VIEW MORE</strong><i class="fas fa-chevron-right text-2 pl-2"></i></a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row my-5">
      <div class="col my-3">

        <div class="row text-center my-3">
          <div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-1.png" alt="">
            </div>
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-2.png" alt="">
            </div>
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-3.png" alt="">
            </div>
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-4.png" alt="">
            </div>
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-5.png" alt="">
            </div>
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-6.png" alt="">
            </div>
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-4.png" alt="">
            </div>
            <div>
              <img class="img-fluid" src="../../assets/img/logos/logo-2.png" alt="">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  -->
</div>
